<fieldset>
  <%= f.label :year %>
  <%= f.text_field :year %>
  <div class="clear"><br /></div>
    
  <%= f.label :start_date %>
  <%= f.text_field :start_date %>
  <div class="clear"><br /></div>

  <%= f.label :end_date %>
  <%= f.text_field :end_date %>
  <div class="clear"><br /></div>

  <%= f.label :current %>
  <%= f.check_box :current %>
  <div class="clear"><br /></div>
</fieldset>