<fieldset>
  <%= f.label :headline %>
  <%= f.text_field :headline %>
  <div class="clear"><br /></div>
  
  <%= f.label :body %>
  <%= f.text_area :body, :class => "announcement_body" %>
  <div class="clear"><br /></div>
  
  <%= f.label :created_at %>
  <%= f.text_field :created_at %>
  <div class="clear"><br /></div>
</fieldset>