<% title("Membership") %>

<article class="module width_3_quarter">
  <header><h3>Confirm your Membership Details</h3></header>
  <%= form_for [@user, @membership] do |f| %>
    <div class="module_content">
      <%= render "shared/error_messages", :target => @membership %>
      <fieldset>
        <%= label_tag "Membership Plan" %>
        <%= f.hidden_field :membership_plan_id %>
        <p class="clear" style="padding-left: 1em;">
          <%= @user.full_name %><br />
          <em><%= @membership.membership_plan.name %></em>
        </p>
      </fieldset>
      <% unless @additional_members.empty? %>
        <fieldset>
          <legend>Additional Members</legend>
          <%= hidden_field_tag 'family_plan_id', @family_plan.id %>
          <% if @additional_members.any?{ |m| !m.new_record? } %>
            <p class="clear" style="padding-left: 1em;">We have found one or more matching family members.  Use the dropdown(s) below to choose the correct family member whose membership you will be renewing.</p>
          <% end %>
          <% @additional_members.each_with_index do |member, index| %>
            <% if member.new_record? %>
              <p class="clear" style="padding-left: 1em;">
                We could not find a membership record for <%= member.full_name %>. Please complete the following fields to add this <%= @family_plan.name %> membership.  <strong>Each Eastern League member must have his/her own email address.</strong>
              </p>
              <%= label_tag :full_name %>
              <%= text_field_tag "new_additional_members[][full_name]", member.full_name, :class => "required" %>
              <div class="clear"><br /></div>
              <%= label_tag :email %>
              <%= email_field_tag "new_additional_members[][email]", '', :class => "required email",:id => "new_additional_members__email_#{index}" %>
              <div class="clear"><br /></div>
            <% else %>
              <p class="clear" style="padding-left: 1em;">
                <%= select_tag("additional_members[]", options_from_collection_for_select(User.find_all_by_full_name(member.full_name), :id, :name_with_email), :style => "width: 50%") %>
                <%= @family_plan.name %>
              </p>
            <% end %>
          <% end %>
        </fieldset>
      <% end %>
      <fieldset>
        <%= label_tag "Total Due" %>
        <span class="total_due"><%= number_to_currency(@amount) %></span>
        <p style="margin-left: 1em;">Click the <strong>Purchase</strong> link below to finalize your membership application/renewal.  You will then be prompted to go to PayPal to complete your purchase.</p>
      </fieldset>
      <% if current_user.admin? %>
        <fieldset>
          <p style="margin-left: 1em;">Record a manual payment for this membership.  Use this option if the member has paid via check or cash, either in person at an event, or by postal mail.  Click the field below and specify the payment date, and the membership will be updated.</p>
          <%= label_tag "Record Manual Payment Date" %>
          <%= text_field_tag :record_manual_payment_date %>
          <div class="clear"><br /></div>
        </fieldset>
      <% end %>

    </div>
    
    <footer>
      <div class="submit_link">
        <%= f.submit "Purchase", :class => "alt_btn" %>
      </div>
    </footer>
  <% end %>
</article>

<article class="module width_quarter">
  <header><h3>Membership Info</h3></header>
  <div class="module_content">
    <p>Any sport kite competitor who wishes to be included in Eastern League standings and eligible for League honors must be a member in good standing at the time he or she competes.</p>
    <p><strong>One year</strong>: $15 per individual, plus $8 for each additional family member.</p>
    <p><strong>Two years</strong>: $25 per individual, plus $12 for each additional family member.</p>
  </div>
</article>
