<% title("Membership") %>

<article class="module width_3_quarter">
  <header><h3>Confirm your Membership Details</h3></header>
  <%= form_for [@user, @membership] do |f| %>
    <div class="module_content">
      <%= render "shared/error_messages", :target => @membership %>
      <fieldset>
        <%= label_tag "Membership Plan" %>
        <%= f.hidden_field :membership_plan_id %>
        <p class="clear" style="padding-left: 1em;">
          <%= @user.full_name %><br />
          <%= @membership.membership_plan.name %>
        </p>
      </fieldset>
      <% unless @additional_members.empty? %>
        <fieldset>
          <legend>Additional Members</legend>
          <%= hidden_field_tag 'family_plan_id', @family_plan.id %>
          <% @additional_members.each do |member| %>
            <% if member.new_record? %>
              <p class="clear" style="padding-left: 1em;">
                We could not find a membership record for <%= member.full_name %>. Please complete the following fields to add this <%= @family_plan.name %> membership.  <strong>All fields are required, and email addresses cannot be shared by Eastern League members.</strong>
              </p>
              <%= label_tag :full_name %>
              <%= text_field_tag "new_additional_members[][full_name]", member.full_name %>
              <div class="clear"><br /></div>
              <%= label_tag :email %>
              <%= text_field_tag "new_additional_members[][email]", '', :placeholder => 'member@easternleague.net' %>
              <div class="clear"><br /></div>
            <% else %>
              <p class="clear" style="padding-left: 1em;">
                <%= select_tag("additional_members[]", options_from_collection_for_select(User.find_all_by_full_name(member.full_name), :id, :name_with_email), :style => "width: 50%") %>
                <%= @family_plan.name %>
                <a href="#" onclick="$(this).closest('p').remove();return false;">X</a>
              </p>
            <% end %>
          <% end %>
        </fieldset>
      <% end %>
      <fieldset>
        <%= label_tag "Total Due" %>
        <%= number_to_currency(@amount) %>
      </fieldset>
    </div>
    <footer>
      <div class="submit_link">
        <%= f.submit "Purchase", :class => "alt_btn" %>
      </div>
    </footer>
  <% end %>
</article>

<article class="module width_quarter">
  <header><h3>Membership Info</h3></header>
  <div class="module_content">
    <p>Any sport kite competitor who wishes to be included in Eastern League standings and eligible for League honors must be a member in good standing at the time he or she competes.</p>
    <p><strong>One year</strong>: $15 per individual, plus $8 for each additional family member.</p>
    <p><strong>Two years</strong>: $25 per individual, plus $12 for each additional family member.</p>
  </div>
</article>
