<p>Hi <%= @user.nickname %>,</p>
<p>
  Thank you for registering for <%= @event.name %>.<br />
  
  Here are your event registration details:
</p>

<p>
  <%= @user.full_name %><br />
  <%= @user.street_address_1 %><br />
  <%= @user.street_address_2 %><br />
  <%= @user.city %> <%= @user.state %> <%= @user.zip %><br />
  <%= @user.phone_number %>
</p>  

<ul>
  <% @event_registration.registration_disciplines.each do |rd| %>
    <li>
      <%= rd.event_discipline.discipline.abbreviation %>
      <% if rd.group_name %>
        (<%= rd.group_name %>: <%= rd.group_members %>)
      <% end %>
    </li>
  <% end %>
</ul>

<% if @event_registration.accepted_terms %>
  <p><%= @user.full_name %> has accepted the registration liability section:</p>
  <p><%= raw @event.event_detail.waiver %></p>
<% else %>
  <p><%= @user.full_name %> has not accepted the registration liability section.</p>
<% end %>

<p>We have received your payment of <%= number_to_currency(@event_registration.amount) %> and look forward to seeing you at <%= @event.location %></p>

<p>
  Jared Haworth<br />
  Commissioner
</p>