<p>A donation request has been made for <%= @event.acronym %></p>
<p><strong><%= @details[:item] %></strong></p>
<p>
  <%= @details[:name] %><br />
  <%= @details[:street_address] %><br />
  <%= @details[:city_state_zip] %><br />
  <%= @details[:phone] %><br />
  <%= @details[:email] %><br />
  <%= @details[:number_of_donations] %> Donations at <%= @details[:cost] %> each
</p>
<p>Please send the invoice request via Google Checkout ASAP!</p>

