<% title("#{@event.name} Scores") %>

<article class="module width_3_quarter">
  <header><h3><a name="tiebreakers"></a>Navigation</h3></header>
  <div class="module_content">
    <% Season.current.events.each do |event| %>
      <ul>
        <% unless event.scores.empty? %>
          <li><%= link_to "Scores for #{event.name}", event_scores_path(event) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</article>

<% @event.event_disciplines.each do |ed| %>
  <% next if ed.scores.empty? %>
  <article class="module width_3_quarter">
    <header><h3><%= ed.name %> (<%= ed.discipline.abbreviation %>)</h3></header>
    <table class="tablesorter" cellspacing="0">
      <thead> 
				<tr> 
   					<th>Rank</th> 
    				<th>Competitor</th> 
    				<th>Score</th> 
    				<th>Points</th>
    				<th>Tie Breaker</th>
				</tr> 
			</thead> 
			<tbody> 
			  <% ed.scores.ranked.each do |score| %>
          <tr id="<%= dom_id(score) %>">
            <td>
              <% if score.disqualified? %>
                DQ
              <% else %>
                <%= score.rank %>
              <% end %>
            </td>
            <td>
              <%= score_name_and_link(score) %>
            </td>
            <td>
              <% if score.disqualified? %>
                DQ
              <% else %>
                <%= number_with_precision(score.score, :precision => 2) %>
              <% end %>
            </td>
            <td>
              <%= score.points %>
              <% if !score.competitor.pair? && !score.competitor.team? %>
                <% if !score.current_member? %>
                  <%= link_to "*", "#na" %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to score.tie_breaker, "#tiebreakers" %></td>
          </tr>
        <% end %>
			</tbody>
    </table>
  </article>
<% end %>

<div class="clear"></div>

<article class="module width_3_quarter">
  <header><h3><a name="na"></a>Notes</h3></header>
  <div class="module_content">
    <h4>Scoring Notes</h4>
    <ul>
      <li><strong>*</strong> Competitor was not an Eastern League member at time of competition.</li>
    </ul>
  </div>
</article>

<div class="clear"></div>


<article class="module width_3_quarter">
  <header><h3><a name="tiebreakers"></a>Tie Breaker Criteria</h3></header>
  <div class="module_content">
    <h4>Ballet Tiebreakers</h4>
    <ul>
      <li><strong>Tiebreaker 1:</strong> (Using 3 scores) Use average total choreography score.</li>
      <li><strong>Tiebreaker 2:</strong> (Adding in dropped scores, if any) Use total score.</li>
      <li><strong>Tiebreaker 3:</strong> (Adding in dropped scores, if any) Use average total choreography score.</li>
    </ul>
  </div>
</article>

<div class="clear"></div>
