<fieldset>
  <legend>Privacy Settings</legend>
  <p style="margin-left: 1em;">These settings allow you to choose what information of yours is visible to other Eastern League members.  You might choose to share your email or phone number so other members may contact you about ride/room sharing at events.</p>
  <%= f.label :share_email %>
  <%= f.check_box :share_email %>
  <div class="clear"></div>
  <%= f.label :share_phone %>
  <%= f.check_box :share_phone %>
  <div class="clear"></div>
  <%= f.label :share_address %>
  <%= f.check_box :share_address %>
  <div class="clear"><br /></div>
</fieldset>
<div class="clear"></div>
