<fieldset style="width:48%; float:left; margin-right: 3%;">
  <%= f.label :full_name, "What is your full name?" %>
  <%= f.text_field :full_name %>
  <div class="clear"><br /></div>
  <%= f.label :nickname, "What should we call you?" %>
  <%= f.text_field :nickname %>
  <div class="clear"><br /></div>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <div class="clear"><br /></div>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <div class="clear"><br /></div>
  <%= f.label :phone_number %>
  <%= f.telephone_field :phone_number %>
  <div class="clear"><br /></div>

</fieldset>
<fieldset style="width:48%; float:left;">
  <%= f.label :street_address_1 %>
  <%= f.text_field :street_address_1 %>
  <div class="clear"><br /></div>
  <%= f.label :street_address_2 %>
  <%= f.text_field :street_address_2 %>
  <div class="clear"><br /></div>
  <%= f.label :city %>
  <%= f.text_field :city %>
  <div class="clear"><br /></div>
  <%= f.label :state %>
  <%= f.select :state, options_for_select( [[ "Select a State", "" ]] + State::NAMES ) %>
  <div class="clear"><br /></div>
  <%= f.label :zip %>
  <%= f.text_field :zip %>

</fieldset>
<div class="clear"></div>
