<% title("Sign Up") %>

<article class="module width_3_quarter">
  <header><h3>Create an Eastern League Account</h3></header>
  <%= form_for @user do |f| %>
    <div class="module_content">
      <%= render "shared/error_messages", :target => @user %>
      <%= render :partial => "user_form", :locals => { :f => f } %>
    </div>
    <footer>
      <div class="submit_link">
        <%= f.submit "Sign Up", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>
  <% end %>
</article>

<article class="module width_quarter">
  <header><h3>Already a Member?</h3></header>
  <div class="module_content">
    <p>Are you already a member of the Eastern League?  <%= link_to("Sign In Here", login_path) %> to access your account.</p>
  </div>
</article>