<% title("Event Registration") %>
<article class="module width_full">
  <header><h3>Edit Event Registration for <%= @event.acronym %> : <%= @user.full_name %></h3></header>
  <%= form_for @event_registration, :url => event_registration_path(@event, @event_registration), :html => { :id => "event_registration_form" } do |f| %>
    <div class="module_content">
      <fieldset style="width:48%; float:left; margin-right: 3%;">
        <%= label_tag "Competitor Name" %>
        <%= @user.full_name %>
        <div class="clear"><br /></div>

        <%= label_tag "Street Address" %>
        <%= @user.street_address_1 %>
        <div class="clear"><br /></div>

        <%= label_tag "City" %>
        <%=  @user.city %>
        <div class="clear"><br /></div>

        <%= label_tag "State" %>
        <%= @user.state %>
        <div class="clear"><br /></div>

        <%= label_tag "ZIP Code" %>
        <%= @user.zip %>
        <div class="clear"><br /></div>

        <%= label_tag "Phone" %>
        <%= @user.phone_number %>
        <div class="clear"><br /></div>

        <%= label_tag "Email" %>
        <%= @user.email %>
        <div class="clear"><br /></div>
      </fieldset>

      <fieldset style="width:48%; float:left;">
        <%= f.check_box :volunteer_judge, :disabled => true %>
        <%= f.label :volunteer_judge, "Volunteer as Judge" %>
        <div class="clear"><br /></div>
        <%= f.check_box :volunteer_field_staff, :disabled => true %>
        <%= f.label :volunteer_field_staff, "Volunteer as Field Staff" %>
        <div class="clear"><br /></div>
        <%= f.check_box :volunteer_setup_crew, :disabled => true %>
        <%= f.label :volunteer_setup_crew, "Volunteer as Setup Crew" %>
        <div class="clear"><br /></div>

        <hr style="width: 75%; color: #ccc;"/>

        <%= f.check_box :first_time_competitor, :disabled => true %>
        <%= f.label :first_time_competitor, "I am a First Time Competitor" %>
      </fieldset>
      <div class="clear"></div>
      <%= render :partial => 'registration_form', :locals => { :f => f } %>
      <fieldset class="disciplines">
        <h4>Disclaimer</h4>
        <p><%=raw @event.event_detail.waiver %></p>
        <p>I have read this release of liability and I understand its meaning.</p>
        <%= check_box_tag "event_registration[accepted_terms]", 1, @event_registration.accepted_terms, :class => 'required', :disabled => true %>
        <%= f.label :accepted_terms, "I agree"  %>
      </fieldset>
    </div>
    <footer>
      <div class="submit_link">
        <%= submit_tag "Update", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>

  <% end %>
</article>
