<% title("Event Registrations") %>

<article class="module width_full">
  <header><h3>Event Registrations for <%= @event.acronym %></h3></header>
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Competitor</th>
        <th>Disciplines</th>
        <th>Volunteer</th>
        <th>Amount Paid</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th colspan="2">Competitors: <%= @event_registrations.size %></th>
        <th>Amount Collected:</th>
        <th><%= number_to_currency(@event_registrations.where(paid: true).map{|er| er.line_item.try(:order)}.compact.sum(&:amount_collected)) %></th>
        <th>&nbsp;</th>
      </tr>
    </tfoot>
    <tbody>
      <% @event_registrations.each do |registration| %>
        <tr id="<%= dom_id(registration) %>">
          <td>
            <%= mail_to(registration.competitor.user.email, registration.competitor.name) %>
          </td>
          <td>
            <% registration.registration_disciplines.each do |rd| %>
              <%= rd.abbrev_and_members %>
              <br />
            <% end %>
            <% if @event.acronym == "ODSKC" %>
              Lunches for Saturday: <%= registration.saturday_lunches  %><br />
              Lunches for Sunday: <%= registration.sunday_lunches %><br />
              # for Dinner: <%= registration.number_for_dinner %><br />
            <% end %>
          </td>
          <td>
            <%= "Judge" if registration.volunteer_judge? %><br />
            <%= "Field Staff" if registration.volunteer_field_staff? %><br />
            <%= "Setup" if registration.volunteer_setup_crew? %>
          </td>
          <td class="payment">
            <% order = registration.line_item.try(:order)  %>
            <% if registration.paid? %>
              <%= number_to_currency(order.try(:amount_collected)) %>
            <% elsif registration.first_time_competitor? %>
              First Time Competitor
              <br />
              Free Registration
            <% else %>
              Payment not processed via PayPal <br />
              (amount due: <%= number_to_currency(order.try(:amount)) %>)
            <% end %>
            <%= form_for registration, url: mark_paid_event_registration_path(@event, registration), html: { class: 'payment_form', method: :put } do |f| %>
            <% end %>
          </td>
          <td class="actions">
            <% if @current_user.admin? %>
              <% if !registration.paid? && !registration.first_time_competitor? %>
                <%= link_to image_tag("icons/icn_pay.png"), '#', title: "Mark Paid", class: 'mark_paid_link' %>
                &nbsp;
              <% end %>
              <%= link_to image_tag("icons/icn_edit.png"), edit_event_registration_path(@event, registration),  title: "Edit" %>
              &nbsp;
              <%= link_to(image_tag("icons/icn_trash.png"), event_registration_path(@event, registration), method: :delete, title: "Delete") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
