<% title("Event Registration") %>
<article class="module width_full">
  <header><h3>Register for <%= @event.name %></h3></header>
  <div class="module_content">
    <%=raw @event.event_detail.registration_instructions %>
  </div>
</article>

<article class="module width_full">
  <header><h3>Online Registration</h3></header>
  <%= form_for @event_registration, :url => event_registrations_path(@event), :html => { :id => "event_registration_form" } do |f| %>
    <div class="module_content">
      <fieldset style="width:48%; float:left; margin-right: 3%;">
        <%= label_tag "Competitor Name" %>
        <%= @user.full_name %>
        <div class="clear"><br /></div>

        <%= label_tag "Street Address" %>
        <%= text_field_tag "users[street_address_1]", @user.street_address_1 %>
        <div class="clear"><br /></div>

        <%= label_tag "City" %>
        <%= text_field_tag "users[city]", @user.city %>
        <div class="clear"><br /></div>

        <%= label_tag "State" %>
        <%= text_field_tag "users[state]", @user.state %>
        <div class="clear"><br /></div>

        <%= label_tag "ZIP Code" %>
        <%= text_field_tag "users[zip]", @user.zip %>
        <div class="clear"><br /></div>

        <%= label_tag "Phone" %>
        <%= text_field_tag "users[phone_number]", @user.phone_number %>
        <div class="clear"><br /></div>

        <%= label_tag "Email" %>
        <%= text_field_tag "users[email]", @user.email %>
        <div class="clear"><br /></div>
      </fieldset>

      <fieldset style="width:48%; float:left;">
        <%= f.check_box :volunteer_judge %>
        <%= f.label :volunteer_judge, "Volunteer as Judge" %>
        <div class="clear"><br /></div>
        <%= f.check_box :volunteer_field_staff %>
        <%= f.label :volunteer_field_staff, "Volunteer as Field Staff" %>
        <div class="clear"><br /></div>
        <%= f.check_box :volunteer_setup_crew %>
        <%= f.label :volunteer_setup_crew, "Volunteer as Setup Crew" %>
        <div class="clear"><br /></div>

        <hr style="width: 75%; color: #ccc;"/>

        <%= f.check_box :first_time_competitor %>
        <%= f.label :first_time_competitor, "I am a First Time Competitor" %>

        <% if @event.acronym == "ODSKC" %>
          <hr style="width: 75%; color: #ccc;"/>

          <p style="padding: 0.5em;">Pre-order box lunches to be delivered on the field at ODSKC.  Box lunches are $8 per lunch per day.  Adrianne &amp; Mearl are coordinating the ODSKC hospitality tent once again and will follow up closer to the event with the list of availble sandwich choices.</p>
          <%= f.label :saturday_lunches, "# of lunches for Saturday" %>
          <%= f.text_field :saturday_lunches %>
          <div class="clear"><br /></div>

          <%= f.label :sunday_lunches, "# of lunches for Sunday" %>
          <%= f.text_field :sunday_lunches %>
          <div class="clear"><br /></div>

          <hr style="width: 75%; color: #ccc;"/>
          <p style="padding: 0.5em;">We're still planning on holding the traditional ODSKC cookout at Janis's house on Saturday evening.  In order to allow Heidi to plan ahead for the dinner, this year we're offering the option to RSVP and pre-pay through the registration form.  In order to cover the cost of dinner, we're asking for $7.50 per person, which you can pay through this form as well.</p>
          <%= f.label :number_for_dinner, "# for dinner" %>
          <%= f.text_field :number_for_dinner %>

        <% end %>
      </fieldset>
      <div class="clear"></div>
      <%= render :partial => 'registration_form', :locals => { :f => f } %>
      <fieldset class="disciplines">
        <h4>Disclaimer</h4>
        <p><%=raw @event.event_detail.waiver %></p>
        <p>I have read this release of liability and I understand its meaning.</p>
        <%= check_box_tag "event_registration[accepted_terms]", 1, false, :class => 'required' %>
        <%= f.label :accepted_terms, "I agree"  %>
      </fieldset>
    </div>
    <footer>
      <div class="submit_link">
        <%= submit_tag "Register", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>

  <% end %>
</article>
