<% title("Current Eastern League Standings") %>

<article class="module width_3_quarter">
  <header><h3>Season</h3></header>
  <div class="module_content">
    <p>View standings from previous competition seasons:<br />
      <%= Season.with_standings.map{ |season| link_to season.year, standings_path(:season_id => season.id) }.join(" | ").html_safe %>
    </p>
  </div>
</article>

<% if current_user.try(:admin?) %>
  <article class="module width_quarter">
    <header><h3>Admin</h3></header>
    <div class="module_content">
      <ul>
        <li><%= link_to "Calculate Standings", calculate_standings_path, :method => :post %></li>
      </ul>
    </div>
  </article>
<% end %>

<% @standings.each do |discipline, standings| %>
  <article class="module width_3_quarter">
    <header><h3><%= discipline.name %> (<%= discipline.abbreviation %>)</h3></header>
    <table class="tablesorter">
      <thead>
				<tr>
   					<th>Rank</th>
    				<th>Competitor</th>
    				<th>Points</th>
    				<th>Tie Breaker</th>
    				<th>Times Competed</th>
				</tr>
			</thead>
			<tbody>
			  <% standings.sort_by(&:rank).each do |standing| %>
          <tr id="<%= dom_id(standing) %>">
            <td><%= standing.rank %></td>
            <td><%= standing.competitor.name %></td>
            <td><%= standing.points %></td>
            <td>
              <%= link_to(standing.tie_breaker, "#tie_breakers") unless standing.tie_breaker.blank? %>
            </td>
            <td><%= standing.competition_count %></td>
          </tr>
        <% end %>
			</tbody>
    </table>
  </article>
<% end %>


<article class="module width_3_quarter">
  <header><h3><a name="tie_breakers"></a>Tie Breakers</h3></header>
  <ol>
    <li>
      <strong>Head-to-head</strong>. For all events in which the two competitors competed against each other, the total number of Eastern League points awarded to each competitor is counted. The higher number wins.
    </li>
    <li>
      <strong>Total points</strong>. The total number of Eastern League points for all events in which each competitor competed is compared. The higher number wins.
    </li>
    <li>
      <strong>Average flight score</strong>. The actual flight scores for every competition in which each competitor competed are averaged, and this number is compared for the two competitors. The higher number wins.
    </li>
  </ol>
</article>

<div class="clear"></div>
