<% title("Jacket Orders") %>

<article class="module width_full">
  <header><h3>Jacket Orders</h3></header>
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Style</th>
        <th>Size</th>
        <th>Typeface</th>
        <th>Delivery?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @jackets.each do |jacket| %>
        <tr id="<%= dom_id(jacket) %>">
          <td><%= jacket.name %></td>
          <td><%= jacket.style %></td>
          <td><%= jacket.size %></td>
          <td><%= jacket.typeface %></td>
          <td><%= jacket.delivery? ? "Yes" : "No" %></td>
          <td><%= link_to(image_tag("icons/icn_trash.png"), jacket_path(jacket), method: :delete, title: "Delete") %></td>
        </tr>
        <tr>
          <td colspan="6">
            Line 1: <%= jacket.custom_text_1 %><br />
            Line 2: <%= jacket.custom_text_2 %><br />
            Line 3: <%= jacket.custom_text_3 %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
