<% title("Champion Jacket Order Form") %>
<article class="module width_full">
  <header><h3><%= @season.year %> Eastern League Champion Jacket Info/Order Page</h3></header>
  <div class="module_content">
    <%= AdminSetting.first.jacket_description.html_safe %>
  </div>
</article>

<article class="module width_full">
  <header><h3>Online Registration</h3></header>
  <%= form_for @jacket, :html => { :id => "jacket_order_form" } do |f| %>
    <%= f.hidden_field :season_id %>
    <%= f.hidden_field :name %>
    <div class="module_content">
      <fieldset style="width:48%; float:left; margin-right: 3%;">
        <%= label_tag "Name" %>
        <%= current_user.full_name %>
        <div class="clear"><br /></div>

        <%= f.label :style, "Jacket Style" %>
        <%= f.select :style, [["Port Authority Challenger II", "J354"], ["Telluride Fleece Jacket", "SJF",], ["Glenwood Fleece Vest", "SVF"]], :prompt => "Choose a Style" %>
        <div class="clear"><br /></div>

        <%= f.label :size %>
        <%= f.select :size, %w(XS S M L XL 2XL 3XL 4XL 5XL 6XL), :prompt => "Choose a Size" %>
        <div class="clear"><br /></div>

        <%= f.label :delivery, "Delivery?" %>
        <%= f.check_box :delivery %>
        <div class="clear"><br /></div>

        <%= f.label :typeface, "Color" %>
        <%= f.text_field :typeface %>
        <div class="clear"><br /></div>
      </fieldset>

      <fieldset style="width:48%; float:left;">
        <%= f.label :custom_text_1, "Text Line 1" %>
        <%= f.text_field :custom_text_1, :placeholder => "e.g., Your Name" %>
        <div class="clear"><br /></div>
        <%= f.label :custom_text_2, "Text Line 2" %>
        <%= f.text_field :custom_text_2, :placeholder => "e.g., Your Club, Pair or Team Name" %>
        <div class="clear"><br /></div>
        <%= f.label :custom_text_3, "Text Line 3" %>
        <%= f.text_field :custom_text_3 %>
        <div class="clear"><br /></div>
      </fieldset>
      <div class="clear"></div>

    </div>
    <footer>
      <div class="submit_link">
        <%= submit_tag "Purchase", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>
  <% end %>
</article>
