<fieldset>
  <%= event_detail.label :general_information %><br class="clear" />
  <%= event_detail.text_area :general_information, :class => "general_information" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :competitor_information %><br class="clear" />
  <%= event_detail.text_area :competitor_information, :class => "competitor_information" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :schedule %><br class="clear" />
  <%= event_detail.text_area :schedule, :class => "schedule" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :directions %><br class="clear" />
  <%= event_detail.text_area :directions, :class => "directions" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :accommodations %><br class="clear" />
  <%= event_detail.text_area :accommodations, :class => "accommodations" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :banquet %><br class="clear" />
  <%= event_detail.text_area :banquet, :class => "banquet" %>
  <div class="clear"><br /></div>

  <%= event_detail.label :auction %><br class="clear" />
  <%= event_detail.text_area :auction, :class => "auction" %>
  <div class="clear"><br /></div>

</fieldset>