<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like ECSKC only happen with your help!
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win a Revolution 25th Anniversary T-Shirt from <%= link_to("Revolution Kites", "http://revkites.com") %>!
    </p>
    <p>
      <strong>This is a brand-new design from Revolution, and have never before been seen by the kite-flying public!</strong>
    </p>
    <p>
      Revolution has provided us with two shirts to award, one in Large, and one in Extra-Large.  The first name drawn will have their choice of size, the second will receive the remaining shirt.  So, for your <%= number_to_currency(@cost) %> donation, you're actually receiving <strong>two</strong> chances to win!
    </p>

    <p>
     There are a maximum of <strong>30</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %> USD</strong> and an individual may donate up to a maximum of $21.00.
    </p>
    <p>
      Drawing for the Revolution 25th Anniversary T-Shirts is expected to be held on or around <strong>May 20th, 2013</strong>, or sonner if all donations have been received prior to May 20th.
    </p>

    <%= image_tag('revshirt.png', :alt => "Revolution 25th Anniversary T-Shirt") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support ECSKC</h3></header>
  <%= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
