<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like ODSKC only happen with your help!
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win a Set of Mini-Rev Banners from <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %>!
    </p>
    <p>
      Anyone who has attended a kite competition on the east coast in the past few years has most likely seen these awesome banners marking the bags of our prominent multi-line flyers.  <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %> has generously provided a set of four custom banners as a reward for one lucky person making a donation to support ODSKC.  There are a maximum of <strong>50</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %></strong> and an individual may donate up to a maximum of $50.00.
    </p>

    <p>
      Drawing for the Mini Rev Banners is expected to be held on <strong>June 8th, 2013</strong>
    </p>

    <%= image_tag('minibannersodskc.jpg', :alt => "ODSKC Mini Banner Raffles", :width => "600") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support ODSKC</h3></header>
  <%= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
