<% title("#{@event.name} Donation") %>

<article class="module width_3_quarter">
  <header><h3>Make a Donation</h3></header>
  <div class="module_content">
    <p>
      Great events like the Fall Fly at TI only happen with your help!
    </p>
    <p>
      All persons making a donation will be entered into a drawing to win a 120' x 100# Quadline Skybond Lineset from Cath &amp; Eliot Shook at <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %>!
    </p>
    <p>
      Competitors know that linesets are one of the consumables in this sport of ours, and that replacing quadline linesets in particular can get pricey.  <%= link_to("Flying Smiles Kites", "http://flyingsmileskites.com") %> has generously provided a set lines for quadline competition (worth close to $80.00) as a reward for one lucky person making a donation to support Fall Fly at TI.  There are a maximum of <strong>40</strong> donation opportunities at this time.  Each donation is <strong><%= number_to_currency(@cost) %></strong> and an individual may donate up to a maximum of $40.00.
    </p>

    <p>
      <em>Held over!  There's now two more weeks to get in on the Quadline lineset raffle!</em>
      Drawing for the Quadline Lineset is expected to be held on <strong>September 22nd, 2013</strong>
      <br />
      <br />
      Dual line kiter?  We haven't forgotten you!  Our next reward will be a 120' x 100# Dual Line lineset.  But if you don't want to wait, dual line flyers can definitely donate for the Quadline set, and take it apart for TWO new linesets!
    </p>

    <%= image_tag('quadline_set.jpg', :alt => "Quad Line Lineset") %>
  </div>
</article>
<div class="clear"><br /></div>

<article class="module width_3_quarter">
  <header><h3>Support Fall Fly at TI!</h3></header>
  <%= render :partial => "donate_form" %>
</article>
<div class="clear"><br /></div>
