<% title("Events") %>

<article class="module width_full">
  <header><h3>Edit an Eastern League Event</h3></header>
  <%= form_for @event, :html => { :multipart => true } do |f| %>
    <div class="module_content">
      <%= render "shared/error_messages", :target => @event %>
      <%= render :partial => "event_form", :locals => { :f => f } %>
      <div class="clear"></div>
      <p>Use the fields below to share details about the event.  If there is no information for a particular section (for instance, there will not be a banquet), just leave that section blank.</p>
      <%= f.fields_for :event_detail do |event_detail| %>
        <%= render :partial => "event_detail_form", :locals => { :event_detail => event_detail } %>
      <% end %>
      
      <div class="clear"><br /></div>
      
      <h4>Event Sponsors</h4>
      <%= f.fields_for :event_sponsors do |sponsor_form| %>
        <%= render 'event_sponsor_fields', :f => sponsor_form %>
      <% end %>
      <p>
        <%= link_to_add_fields "Add another sponsor", f, :event_sponsors %>
      </p>
      
    </div>
    <footer>
      <div class="submit_link">
        <%= f.submit "Save", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>
  <% end %>
</article>