<% title("Events") %>

<article class="module width_full">
  <header><h3>Create an Eastern League Event</h3></header>
  <%= form_for @event do |f| %>
    <div class="module_content">
      <%= render "shared/error_messages", :target => @event %>
      <%= render :partial => "event_form", :locals => { :f => f } %>
      <div class="clear"></div>

    </div>
    <footer>
      <div class="submit_link">
        <%= f.submit "Save", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>
  <% end %>
</article>