<% title(@event.name) %>

<% unless @event.scores.empty? %>
  <h4 class="alert_info"><%= link_to("Scores for #{@event.name}", event_scores_path(@event)) %> have been posted!</h4>
<% end %>


<% if can? :create, Score %>
  <article class="module width_full">
    <header><h3>Admin Tools</h3></header>
    <div class="module_content">
      <%= link_to "Enter Event Scores", new_event_score_path(@event) %>
    </div>
  </article>
<% end %>

<article class="module width_3_quarter">
  <header><h3>Event Details</h3></header>
  <div class="module_content">
    <% unless @event.event_detail.general_information.blank? %>
      <%= raw(@event.event_detail.general_information) %>
    <% else %>
      <p>Sorry, we don't have any information available yet about <%= @event.name %>.  Please check back soon, or contact the event organizer listed below for more details.</p>
    <% end %>
    <h4>Event Organizer</h4>
    <p>
      <%= @event.contact_name  %><br />
      <%= mail_to(@event.contact_email) %><br />
      <%= @event.contact_phone %><br />
    </p>
  </div>
</article>

<article class="module width_quarter">
  <header><h3>Quick Links</h3></header>
  <div class="module_content">
    <ul>
      <%=raw event_detail_links(@event.event_detail) %>
    </ul>
  </div>
</article>

<%= render(:partial => "event_detail_field", :locals => { :detail_title => "competitor_information", :detail =>  @event.event_detail.competitor_information }) unless @event.event_detail.competitor_information.blank? %>
<%= render(:partial => "event_detail_field", :locals => { :detail_title => "schedule", :detail => @event.event_detail.schedule }) unless @event.event_detail.schedule.blank? %>

<%= render(:partial => "event_detail_field", :locals => { :detail_title => "directions", :detail => @event.event_detail.directions }) unless @event.event_detail.directions.blank? %>
<%= render(:partial => "event_detail_field", :locals => { :detail_title => "accommodations", :detail => @event.event_detail.accommodations }) unless @event.event_detail.accommodations.blank? %>

<%= render(:partial => "event_detail_field", :locals => { :detail_title => "banquet", :detail => @event.event_detail.banquet }) unless @event.event_detail.banquet.blank? %>
<%= render(:partial => "event_detail_field", :locals => { :detail_title => "auction", :detail => @event.event_detail.auction }) unless @event.event_detail.auction.blank? %>

<article class="module width_3_quarter">
  <header><h3><a name="Sponsors"></a>Sponsors &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <% @event.event_sponsors.each do |sponsor| %>
      <% if sponsor.logo? %>
        <% if sponsor.link_type == "webpage" %>
          <%= link_to(image_tag(sponsor.logo.url(:thumb), :alt => sponsor.name, :title => sponsor.name), sponsor.url) %>
        <% else %>
          <%= mail_to(sponsor.url, image_tag(sponsor.logo.url(:thumb), :alt => sponsor.name, :title => sponsor.name)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</article>

<div class="clear"><br /></div>