<fieldset style="width:48%; float:left; margin-right: 3%;">
  <%= f.label :name, "Name this Election" %>
  <%= f.text_field :name, :placeholder => "2013 Flyers Rep Election" %>
  <div class="clear"><br /></div>

  <%= f.label :description, "Provide Election Details" %>
  <%= f.text_area :description %>
  <div class="clear"><br /></div>

  <%= f.label :active %>
  <%= f.select :active, [["Yes", true], ["No", false]] %>
  <div class="clear"><br /></div>

  <%= f.label :close_at %>
  <%= f.text_field :close_at %>
  <div class="clear"><br /></div>

</fieldset>
