<% title("Wildwood Registrations") %>

<article class="module width_full">
  <header><h3>Wildwood Registrations for <%= @season.year %></h3></header>
  <table class="tablesorter" cellspacing="0">
    <thead>
      <tr>
        <th>Competitor</th>
        <th>Details</th>
        <th>Amount Due</th>
        <th>Number for Dinner</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @wildwood_registrations.each do |registration| %>
        <tr id="<%= dom_id(registration) %>">
          <td>
            <%= registration.name %><br />
            <%= registration.address %><br />
            <%= registration.city %>, <%= registration.state %> <%= registration.zip %><br />
            <%= registration.country %><br />
            <%= registration.phone %><br />
            <%= registration.email %><br />
          </td>
          <td>
            <strong>ECSKC</strong><br />
            <% if registration.ecskc.nil? %>
              (none)<br />
            <% else %>
              <% registration.ecskc.each do |discipline, value| %>
                <%= "#{discipline}: #{value}<br />".html_safe unless value.blank? %>
              <% end %><br />
            <% end %>
            <strong>WIKF Challenges</strong><br />
            <% if registration.challenges.nil? %>
              (none)<br />
            <% else %>
              <% registration.challenges.each do |challenge, value| %>
                <%= "#{challenge}: #{value}<br />".html_safe unless value.blank? %>
              <% end %><br />
            <% end %>
            <strong>Volunteer:</strong><br />
            <%= "Judge," if registration.judge %>
            <%= "Field Staff," if registration.field_staff %>
            <%= "Sales," if registration.sales %>
            <%= "Workshops," if registration.workshops %>
            <%= "Auction," if registration.auction %>
            <%= "Operations," if registration.operations %>
            <br />
            <strong>Waiver</strong><br />
            <%= "Accepted" if registration.accepted_waiver %>
            <%= "Did not accept" if !registration.accepted_waiver %>
          </td>
          <td>
            <%= number_to_currency(registration.total_due) %><br />
            <%= "(includes on-site registration fee)" if registration.on_site %>
          </td>
          <td>
            <%= registration.number_for_dinner %>
          </td>
          <td>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
