<% title("Wildwood Registration") %>
<article class="module width_full">
  <header><h3>Register for Wildwoods International Kite Festival</h3></header>
  <div class="module_content">
    <%=raw @event.event_detail.registration_instructions %>
  </div>
</article>

<article class="module width_full">
  <header><h3>Online Registration</h3></header>
  <%= form_for @wildwood_registration, :html => { :id => "wildwood_registration_form" } do |f| %>
    <%= f.hidden_field :season_id %>
    <div class="module_content">
      <fieldset style="width:48%; float:left; margin-right: 3%;">
        <%= label_tag "Name" %>
        <%= f.text_field :name, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "Street Address" %>
        <%= f.text_field :address, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "City" %>
        <%= f.text_field :city, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "State" %>
        <%= f.text_field :state, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "ZIP Code" %>
        <%= f.text_field :zip, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "Country" %>
        <%= f.text_field :country, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "Phone" %>
        <%= f.text_field :phone, :class => "required" %>
        <div class="clear"><br /></div>

        <%= label_tag "Email" %>
        <%= f.text_field :email, :class => "required" %>
        <div class="clear"><br /></div>

        <p style="padding: 0 1em;">Type the word "kites" in the box below to prove you're a human being!</p>
        <%= text_field_tag :humint %>
        <div class="clear"><br /></div>

      </fieldset>

      <fieldset style="width:48%; float:left;">
        <%= f.check_box :judge %>
        <%= f.label :judge, "Volunteer as Judge" %>
        <div class="clear"><br /></div>
        <%= f.check_box :field_staff %>
        <%= f.label :field_staff, "Volunteer as Field Staff" %>
        <div class="clear"><br /></div>
        <%= f.check_box :sales %>
        <%= f.label :sales, "Volunteer as Sales" %>
        <div class="clear"><br /></div>
        <%= f.check_box :workshops %>
        <%= f.label :workshops, "Volunteer as Workshops" %>
        <div class="clear"><br /></div>
        <%= f.check_box :auction %>
        <%= f.label :auction, "Volunteer as Auction" %>
        <div class="clear"><br /></div>
        <%= f.check_box :operations %>
        <%= f.label :operations, "Volunteer as Operations" %>
        <div class="clear"><br /></div>
        <p style="padding: 0 0.5em;">All registrations received after May 10, 2015, and all registrations paid in person at the event will be considered "on site" and must pay an additional $10.00.</p>
        <%= f.check_box :on_site %>
        <%= f.label :on_site, "On Site Registration ($10)" %>
        <div class="clear"><br /></div>
        <p style="padding: 0 0.5em;">Dinner at Little Italy, Wildwood Crest - (a la carte)</p>
        <%= f.label :number_for_dinner, "# of people" %>
        <%= f.text_field :number_for_dinner %>
      </fieldset>

      <div class="clear"></div>

      <fieldset style="width:48%; float:left; margin-right: 3%;" class="wikf_challenges">
        <legend>WIKF Challenges</legend>
        <%= check_box_tag "wildwood_registration[challenges][Fighter Kite Novice Line Touch]", 10, false %>
        <%= label_tag "wildwood_registration[challenges][Fighter Kite Novice Line Touch]", "Fighter Kite Novice Line Touch ($10)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[challenges][Fighter Kite Experienced Line Touch]", 10, false %>
        <%= label_tag "wildwood_registration[challenges][Fighter Kite Experienced Line Touch]", "Fighter Kite Experienced Line Touch ($10)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[challenges][Rokkaku Team Challenge]", 10, false %>
        <%= label_tag "wildwood_registration[challenges][Rokkaku Team Challenge]", "Rokkaku Team Challenge ($10)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[challenges][SES Memorial Wildwood Kitemakers Comp]", 10, false %>
        <%= label_tag "wildwood_registration[challenges][SES Memorial Wildwood Kitemakers Comp]", "SES Memorial Wildwood Kitemakers Comp ($10)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[challenges][Best Ground Display]", 0, false %>
        <%= label_tag "wildwood_registration[challenges][Best Ground Display]", "Best Ground Display (N/C)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[challenges][Rev Games]", 0, false %>
        <%= label_tag "wildwood_registration[challenges][Rev Games]", "Rev Games (N/C)" %>
        <div class="clear"><br /></div>

      </fieldset>

      <fieldset style="width:48%; float:left;" class="ecskc">
        <legend>East Coast Stunt Kite Championship</legend>
        <%#= check_box_tag "wildwood_registration[ecskc][NIP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][NIP]", "Novice Individual Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][NIB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][NIB]", "Novice Individual Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][EIP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][EIP]", "Experienced Individual Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][EIB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][EIB]", "Experienced Individual Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][MIP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][MIP]", "Masters Individual Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][MIB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][MIB]", "Masters Individual Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][EPP]", 15, false %>
        <%#= label_tag "wildwood_registration[ecskc][EPP]", "Experienced Pairs Precision -- Captain Only ($15)" %>
        <%#= text_field_tag "wildwood_registration[ecskc][EPP Members]", '', :placeholder => "Pairs Name & Members" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][EPB]", 15, false %>
        <%= label_tag "wildwood_registration[ecskc][EPB]", "Experienced Pairs Ballet -- Captain Only ($15)" %>
        <%= text_field_tag "wildwood_registration[ecskc][EPB Members]", '', :placeholder => "Pairs Name & Members" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][MPP]", 15, false %>
        <%#= label_tag "wildwood_registration[ecskc][MPP]", "Masters Pairs Precision -- Captain Only ($15)" %>
        <%#= text_field_tag "wildwood_registration[ecskc][MPP Members]", '', :placeholder => "Pairs Name & Members" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][MPB]", 15, false %>
        <%= label_tag "wildwood_registration[ecskc][MPB]", "Masters Pairs Ballet -- Captain Only ($15)" %>
        <%= text_field_tag "wildwood_registration[ecskc][MPB Members]", '', :placeholder => "Pairs Name & Members" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][OTP]", 15, false %>
        <%#= label_tag "wildwood_registration[ecskc][OTP]", "Open Team Precision -- Captain Only ($15)" %>
        <%#= text_field_tag "wildwood_registration[ecskc][OTP Members]", '', :placeholder => "Team Name & Members" %>
        <!-- <div class="clear"><br /></div> -->

        <%#= check_box_tag "wildwood_registration[ecskc][OTB]", 15, false %>
        <%#= label_tag "wildwood_registration[ecskc][OTB]", "Open Team Ballet -- Captain Only ($15)" %>
        <%#= text_field_tag "wildwood_registration[ecskc][OTB Members]", '', :placeholder => "Team Name & Members" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][OTT]", 15, false %>
        <%= label_tag "wildwood_registration[ecskc][OTT]", "Open Team Train Ballet -- Captain Only ($15)" %>
        <%= text_field_tag "wildwood_registration[ecskc][OTT Members]", '', :placeholder => "Team Name & Members" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][NMP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][NMP]", "Novice Multiline Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][NMB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][NMB]", "Novice Multiline Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][EMP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][EMP]", "Experienced Multiline Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][EMB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][EMB]", "Experienced Multiline Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][MMP]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][MMP]", "Masters Multiline Precision ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][MMB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][MMB]", "Masters Multiline Ballet ($10)" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][OPMP]", 15, false %>
        <%#= label_tag "wildwood_registration[ecskc][OPMP]", "Open Pairs Multiline Precision -- Captain Only ($15)" %>
        <%#= text_field_tag "wildwood_registration[ecskc][OPMP Members]", '', :placeholder => "Pair Name & Members" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][OPMB]", 15, false %>
        <%= label_tag "wildwood_registration[ecskc][OPMB]", "Open Pairs Multiline Ballet -- Captain Only ($15)" %>
        <%= text_field_tag "wildwood_registration[ecskc][OPMB Members]", '', :placeholder => "Pair Name & Members" %>
        <div class="clear"><br /></div>

        <%#= check_box_tag "wildwood_registration[ecskc][OIOU]", 10, false %>
        <%#= label_tag "wildwood_registration[ecskc][OIOU]", "Open Individual Outdoor Unlimited ($10)" %>
        <!-- <div class="clear"><br /></div> -->

        <%= check_box_tag "wildwood_registration[ecskc][OIIU]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][OIIU]", "Open Individual Indoor Unlimited ($10)" %>
        <div class="clear"><br /></div>

        <%= check_box_tag "wildwood_registration[ecskc][ISB]", 10, false %>
        <%= label_tag "wildwood_registration[ecskc][ISB]", "Indoor Single Line Ballet ($10)" %>
        <div class="clear"><br /></div>
      </fieldset>

      <div class="clear"><br /></div>

      <fieldset class="disciplines">
        <h4>Disclaimer</h4>
        <p><%=raw @event.event_detail.waiver %></p>
        <p>I have read this release of liability and I understand its meaning.</p>
        <%= f.check_box :accepted_waiver, :required => "required", :class => "required" %>
        <%= f.label :accepted_waiver, "I agree"  %>
    </fieldset>
    </div>
    <footer>
      <div class="submit_link">
        <%= submit_tag "Register", :class => "alt_btn" %>
        or <%= link_to "Cancel", request.referer %>
      </div>
    </footer>

  <% end %>
</article>
