<% title("Information for Competitors") %>

<article class="module width_3_quarter">
  <header><h3><a name="introduction"></a>Introduction</h3></header>
  <div class="module_content">
    <p>The Eastern League Sport Kite Association sanctions sport kite competitions primarily along the eastern seaboard of the United States, but potentially anywhere within Regions 1 to 4 of the American Kitefliers Association (AKA). For the current schedule, see the <%= link_to "Calendar", "#" %> page.</p>

    <p>All Eastern League events are AKA-sanctioned events. With the exception of the number of team disciplines that are recognized by the League (see <%= link_to "League-Sanctioned Competition Disciplines", "#disciplines" %> below), the rules that govern League competitions are the AKA's rules, and the competition year is the same (August 1 to July 31). The official rule books, which are published by the International Rule Book Committee (IRBC), and accompanying AKA Appendix are available from either the <%= link_to("AKA", "http://www.aka.kite.org/") %> or the <%= link_to("IRBC", "http://www.worldsportkite.com/irbc.htm") %>.</p>

    <p>Details about the League's scoring system follow below. For definitions of some of the terms used, consult the rule book. Questions? Contact us.</p>

  </div>
</article>

<article class="module width_quarter">
  <header><h3>Contents</h3></header>
  <div class="module_content">
    <ol>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#levels">Competition Levels</a></li>
      <li><a href="#movingup">Moving Up or Down</a></li>
      <li><a href="#disciplines">League-Sanctioned Competition Disciplines</a></li>
      <li><a href="#running">Running Different Classes Together</a></li>
      <li><a href="#pointsystem">Point System</a></li>
      <li><a href="#awards">Awards</a></li>
      <li><a href="#flierrep">Flier Representatives</a></li>
    </ol>
  </div>
</article>


<article class="module width_3_quarter">
  <header><h3><a name="levels"></a>Competition Levels &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>There are two broad categories of competition: dual-line and multi-line (also known as "quad-line"). Within these categories, competition is divided into three different skill levels. Dual-line competition has all three levels; multi-line competition has just two, as described below.</p>

    <p>The three skill levels are</p>
    <ul>
    <li><strong>Novice</strong>. This class is for beginners in dual-line sport kite competition who do not feel ready to compete in a higher class. A Novice flier may compete as part of a pair or team.</li>
    <li><strong>Experienced</strong>. This class is for competitors who have some competition experience and/or who have attained a higher skill level than the majority of competitors in the Novice class.</li>
    <li><strong>Masters</strong>. This class is for competitors who have the necessary skills and experience to compete against the very best in either dual-line or multi-line disciplines.</li>
    </ul>
    <p>Within either dual-line or multi-line classes, fliers must compete at the same level in both individual precision and individual ballet. However, multi-line skill level is independent of one’s dual-line skill level. In addition, team and pair levels are independent of individual flier level.</p>

    <p>Fliers themselves choose the level at which they wish to begin competing, and anyone of any age may compete in any discipline. There is no qualifying process. However, see the notes below about <%= link_to("moving up or down", "#movingup") %> between classes.</p>

    <p>Disciplines designated "Open" are open to all competitors, regardless of their skill level.</p>

  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="movingup"></a>Moving Up or Down &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>The rules governing moving up or down between classes, as defined in the AKA Appendix to the International Sport Kite rule book, are as follows:</p>
    <ol>
    <li><strong>Moving by class</strong>. Competitors move up and down by class, not by discipline. A competitor may therefore be required to move up from Experienced Dual-line to Masters Dual-line, but unless the competitor meets the move-up requirements for Experienced Multi-line, there is no required class change in Multi-line.</li>
    <li><strong>Moving up</strong>. In each conference, the top competitors (three for novice and one for experienced) with at least 15 points, excluding in-conference attendance points (as reported on the AKA website at the end of the competition season), should move up to the next skill level at the beginning of the next competition season. Any competitor who meets the above requirement at the end of the current competition season and has also met the requirement in either of the previous two seasons must move up to the next higher skill level at the beginning of the next competition season. A competitor may elect to move up at any time.</li>
    <li><strong>Moving down</strong>. Master skill level competitors that do not place in the top three in any discipline of a class at any competition during a competition season may move down to the Experienced skill level in that class at the beginning of the next competition season.</li>
    </ol>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="disciplines"></a>League-Sanctioned Competition Disciplines &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Eastern League standings are maintained for the following sport kite disciplines. Individual event organizers may select any or all of these disciplines to offer at their events:</p>

    <p style="margin-left: 2em;">Novice Individual Dual-Line Precision (NIP)<br />
    Novice Individual Dual-Line Ballet (NIB)<br />
    Experienced Individual Dual-Line Precision (EIP)<br />
    Experienced Individual Dual-Line Ballet (EIB)<br />
    Masters Individual Dual-Line Precision (MIP)<br />
    Masters Individual Dual-Line Ballet (MIB)<br />
    Experienced Individual Multi-Line Precision (EMP)*<br />
    Experienced Individual Multi-Line Ballet (EMB)*<br />
    Masters Individual Multi-Line Precision (MMP)*<br />
    Masters Individual Multi-Line Ballet (MMB)*<br />
    Experienced Pairs Dual-Line Precision (EPP)<br />
    Experienced Pairs Dual-Line Ballet (EPB)<br />
    Masters Pairs Dual-Line Precision (MPP)<br />
    Masters Pairs Dual-Line Ballet (MPB)<br />
    Open Team Dual-Line Precision (OTP)<br />
    Open Team Dual-Line Ballet (OTB)<br />
    Open Team Dual-Line Train Ballet (OTT)<br />
    Open Individual Outdoor Unlimited (OIOU)**</p>
    <p>* Disciplines designated now as "Multi-Line" formerly were (and sometimes still may be) called "Quad-Line," so the four multi-line disciplines may also be referred to as EQP, EQB, MQP, and MQB.</p>

    <p>** Formerly known as Open Individual Freestyle (OIF). The name was changed by the AKA in the fall of 2005.</p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="running"></a>Running Different Classes Together &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Different classes of like disciplines may be run together at the discretion of an event's chief judge/coordinator. For example, Experienced Individual Multi-Line Precision and Masters Individual Multi-Line Precision could be run together as one discipline with the same judging panel. Such joined disciplines are designated as either "Open" or "Combined."</p>
    <p>An open discipline offers a single set of awards to the entire slate of competitors in that discipline, regardless of their class. A combined discipline, on the other hand, offers a separate set of awards for each class within the discipline. To continue the multi-line precision example, if the discipline were run as Open Individual Multi-Line Precision, three awards would be granted; but if it were run as Combined Individual Multi-Line Precision, then six awards would be given out—three for the Experienced competitors and three for the Masters.</p>
    <p>For the purpose of Eastern League standings, the scores from all such joined disciplines are separated into their individual classes.</p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="pointsystem"></a>Point System &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>A competitor's overall Eastern League score is based on that competitor's performances at all events. You must be an Eastern League member at the time of competition for an event to count toward your standings, and all members of a team or pair must be current members at the time of competition in order for that team or pair to earn Eastern League points.</p>

    <p>An embroidered jacket is awarded to each competitor who finishes in one of the top three places in a particular discipline at the end of the season, as long as that competitor has:</p>

    <ul>
    <li>Competed in that discipline at a minimum of two Eastern League competitions <span class="red">*</span></li>
    <li>Earned at least 50 Eastern League points in that discipline</li>
    </ul>
    <p>Within each discipline, only the top five scores of each competitor in any given season count toward that competitor's League standing.</p>

    <p>These requirements apply separately to individual members of pairs and teams. For example, to get a jacket, each member of a qualifying pair or team must meet the requirements of having competed with that pair or team at a minimum of two League-sanctioned competitions.</p>

    <p><span class="red">*</span> If a discipline must be canceled by the event (for example, because of extreme weather), any Eastern League member who is registered for that discipline and present when it is canceled will receive attendance credit. That is, even though Eastern League points will not be granted for that discipline at that event, the event will count toward the minimum of two competitions for any registered competitors who are Eastern League members and are in attendance at the time of the cancellation.</p>
    <h3>Calculating EL Standings: Discipline Score</h3>
    <p>All disciplines have the same base points, and bonus points are determined by the number of competitors in the discipline. Only the top 10 places receive League points.</p>
    <h3>Base Points</h3>
    <p>Base Points are assigned as follows:</p>
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Place</th>
          <th>Points</th>
          <th>Place</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st Place</td>
          <td>25 points</td>
          <td>6th Place</td>
          <td>8 points</td>
        </tr>
        <tr>
          <td>2nd Place</td>
          <td>20 points</td>
          <td>7th Place</td>
          <td>6 points</td>
        </tr>
        <tr>
          <td>3rd Place</td>
          <td>15 points</td>
          <td>8th Place</td>
          <td>4 points</td>
        </tr>
        <tr>
          <td>4th Place</td>
          <td>12 points</td>
          <td>9th Place</td>
          <td>2 points</td>
        </tr>
        <tr>
          <td>5th Place</td>
          <td>10 points</td>
          <td>10th Place</td>
          <td>1 points</td>
        </tr>
      </tbody>
    </table>
    <h3>Bonus Points for Individuals</h3>
    <p>Bonus points are determined by the number of competitors. For individual competition, the first-place finisher receives a bonus value equal to the number of competitors in the event, up to a maximum of 20. Each descending place receives a bonus value one less than the next higher place.</p>

    <p>For example, for an Experienced Individual Dual-line Ballet (EIB) discipline with 15 competitors, Eastern League points would be awarded as follows:</p>

    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>Place</th>
          <th>Base Points</th>
          <th>Bonus Points</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1st</td>
          <td>25</td>
          <td>15</td>
          <td>40</td>
        </tr>
        <tr>
          <td>2nd</td>
          <td>20</td>
          <td>14</td>
          <td>34</td>
        </tr>
        <tr>
          <td>3rd</td>
          <td>15</td>
          <td>13</td>
          <td>28</td>
        </tr>
        <tr>
          <td>.<br />.<br />.</td>
          <td>.<br />.<br />.</td>
          <td>.<br />.<br />.</td>
          <td>.<br />.<br />.</td>
        </tr>
        <tr>
          <td>10th</td>
          <td>1</td>
          <td>6</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Note:</strong></p>
    <ul>
      <li>Only the top 10 competitors in any discipline receive EL points.</li>
      <li>If more than 20 fliers compete, the bonus points start at 20 because that's the maximum.</li>
      <li>If an event is divided into heats, the total number of competitors (not just the number in the final heat) is used for awarding bonus points.</li>
    </ul>
    <h3>Bonus Points for Pairs And Teams</h3>
    <p>Because the number of competitors for team and pair disciplines is usually much lower than for individual disciplines, and that number does not vary much from one event to another, the bonus points for teams and pairs are doubled to increase their impact. For example, if a pairs discipline had 5 entries, the first-place winner would receive 10 bonus points (in addition to the 25 first-place base points), second place would get 8 bonus points, and so on. As with individual disciplines, however, the maximum number of bonus points is 20.</p>

    <h3>Calculating EL Standings: Overall League Score</h3>
    <p>Discipline scores are used to compute overall League scores and the League standings. Competitors' League scores consist of their <strong>top five point finishes</strong>. Competitors must have competed in a particular discipline at a <strong>minimum of two</strong> Eastern League competitions and must have accumulated <strong>at least 50 points</strong> in order for their points to count toward final standings in that discipline.</p>

    <p>For example, consider a flier who competes in Masters Individual Dual-Line Precision at eight events and earns the following League points:</p>

    <table class="tablesorter" cellspacing="0">
      <tbody>
        <tr>
          <td>Event #1</td><td>35</td>
          <td>Event #5</td><td>18</td>
        </tr>
        <tr>
          <td>Event #2</td><td>12</td>
          <td>Event #6</td><td>20</td>
        </tr>
        <tr>
          <td>Event #3</td><td>22</td>
          <td>Event #7</td><td>30</td>
        </tr>
        <tr>
          <td>Event #4</td><td>15</td>
          <td>Event #8</td><td>25</td>
        </tr>
      </tbody>
    </table>

    <p>The flier's League score for the season would be 132 (35 + 30 + 25 + 22 + 20). This score would be compared to the scores of all other MIP competitors to generate League standings.</p>

    <h3>Tiebreakers</h3>
    <p>If ties exist in League scores at the end of the season, the winner is determined by the following calculations, performed in the order shown. The first calculation to break the tie determines the winner.</p>
    <ol>
    <li><strong>Head-to-head</strong>. For all events in which the two competitors competed against each other, the total number of Eastern League points awarded to each competitor is counted. The higher number wins.</li>
    <li><strong>Total points</strong>. The total number of Eastern League points for all events in which each competitor competed is compared. The higher number wins.</li>
    <li><strong>Average flight score</strong>. The actual flight scores for every competition in which each competitor competed are averaged, and this number is compared for the two competitors. The higher number wins.</li>
    </ol>
    <h3>Substitutes</h3>
    <p>Substitutes on pairs or teams are subject to the same rules and regulations that apply to registered pair and team members regarding eligibility for League awards. For example, to be eligible for a jacket, a substitute must have flown with a particular pair or team at a minimum of two competitions. In addition, if a pair or team flies at any competition with a substitute who is not an Eastern League member, the points from that event will not be included in the pair or team's Eastern League standings.</p>

  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="awards"></a>Awards &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>At the end of each competition season, the League awards an embroidered jacket to each competitor who has finished in one of the top three places in at least one discipline over the course of the season, provided that the following two additional requirements have been met for any discipline in question:</p>

    <ul>
    <li>The competitor has competed at a minimum of two Eastern League competitions in each discipline in question.</li>
    <li>The competitor has earned a minimum of 50 points in each discipline in question.</li>
    </ul>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="flierreps"></a>Flier Representatives &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>Two flier representatives, elected each December by the general membership, serve on the Eastern League Board, which collectively makes all major decisions affecting the League. Any member of the League who is in good standing and does not already serve on the Board as an event organizer or the commissioner may (1) vote in the flier rep election and/or (2) be elected as a flier representative. League-sanctioned event organizers and the commissioner, who already have a vote on the Board, are not eligible to vote in flier rep elections.</p>

    <p>Flier rep positions extend for one calendar year; for example, a flier rep elected in December 2004 will serve from January through December 2005. There is no limit to the number of terms a flier rep may serve on the Board.</p>
  </div>
</article>