<%= title("Contact Us") %>

<article class="module width_3_quarter">
  <header><h3>For more information, contact</h3></header>
  <div class="module_content">
    <p>
      <%= image_tag('icons/map.png') %>
      <%= @commissioner.full_name %><br />
      <span style="padding-left: 20px;">Eastern League Commissioner</span><br />
      <span style="padding-left: 20px;"><%= @commissioner.street_address_1 %></span><br />
      <span style="padding-left: 20px;"><%= @commissioner.city %>, <%= @commissioner.state %> <%= @commissioner.zip %></span><br />
    </p>

    <p>
      <%= image_tag('icons/phone.png') %> 
      <%= @commissioner.phone_number %>
    </p>

    <p>
      <%= image_tag('icons/email.png', :style => "vertical-align: bottom;") %> 
      <%= mail_to("elcommissioner@gmail.com") %>
    </p>
  </div>
</article>
