<%= title("Sport Kiting Links") %>

<article class="module width_3_quarter">
  <header><h3><a name="official"></a>Official Organizations/Info Sites:</h3></header>
  <div class="module_content">
    <p>
      <%= link_to("American Kitefliers Association (AKA)", "http://aka.kite.org") %> (see also below)<br />
      <%= link_to("All Japan Sport Kite Association (AJSKA)", "http://www.ajska.gr.jp/") %><br />
      <%= link_to("International Rule Book Committee (IRBC)", "http://www.worldsportkite.com/irbc.htm") %><br />
      <%= link_to("Sport Team and Competitive Kiting (STACK)", "http://stack.aerialis.no/web") %><br />
      <%= link_to("Reed Design", "http://www.reeddesign.co.uk/iskcb/") %> (Roy Reed's animations of compulsory figures)<br />
      <%= link_to("Kitelife Magazine", "http://kitelife.com") %><br />
    </p>
  </div>
</article>

<article class="module width_quarter" style="float:right;margin-right: 1em;">
  <header><h3>Contents</h3></header>
  <div class="module_content">
    <ol>
      <li><a href="#official">Official Organizations/Info Sites</a></li>
      <li><a href="#other">Other Sport Kite Leagues</a></li>
      <li><a href="#aka">AKA Regional Resources in the Eastern League</a></li>
      <li><a href="#benefits">Benefits of Eastern League Sanctioning</a></li>
      <li><a href="#clubs">Clubs in the Eastern League</a></li>
    </ol>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="other"></a>Other Sport Kite Leagues &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>
      <%= link_to("Bay Area Sport Kite League (BASKL)", "http://baskl.org") %><br />
      <%= link_to("Northwest Sport Kite League (NWSKL)", "http://nwskl.org") %><br />
    </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="aka"></a>AKA Regional Resources in the Eastern League &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>
      <%= mail_to("region1@aka.kite.org", "Region 1 Director") %> (Maggie Engvall, 401•942•3606)<br />
      <%= mail_to("region2@aka.kite.org", "Region 2 Director") %> (Bradley Weiner, 856•229•3745)<br />
      <%= mail_to("region3@aka.kite.org", "Region 3 Director") %> (Will Smoot, 540•471•4949)<br />
      <%= mail_to("region4@aka.kite.org", "Region 4 Director") %> (James 'Jim' Podlasek, 803•548•2698)<br />
      <%= mail_to("ne_conf@aka.kite.org", "Northeast Conference Commissioner") %> (Jackie Maciel, 508•528•0951)<br />
      <%= mail_to("se_conf@aka.kite.org", "Southeast Conference Commissioner") %> (Laura Stonestreet, 804•271•4433)<br />
    </p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="clubs"></a>Clubs in the Eastern League &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>
      <%= link_to "ConnectiKITERS", "http://www.connectikiters.org/" %><br />
      <%= link_to "Fly Pittsburgh Kite Club", "http://windstarkites.com/FlyPghKiteClub.htm" %><br />
      <%= link_to "Great Lakes Kitefliers Society (GLKS)", "http://www.fly.to/glks" %><br />
      <%= link_to "Keystone Kiters", "http://www.keystonekiters.com/" %><br />
      <%= link_to "Kites In Central New York Skies (KICNYS)", "http://www.angelfire.com/ny5/kitesincnyskies" %><br />
      <%= link_to "Kites Over New England (KONE)", "http://www.kone.org/" %><br />
      <%= link_to "Lehigh Valley Kite Society (LVKS)", "http://www.lehighvalleykitesociety.org/" %><br />
      <%= link_to "Liberty High Spirits of 14B", "http://groups.yahoo.com/group/LHSO14B" %><br />
      <%= link_to "New York Kite Enthusiasts (NYKE)", "http://www.nyke.org/" %><br />
      <%= link_to "Richmond Air Force Kite Club (RAF)", "http://www.richmondairforce.com/" %><br />
      <%= link_to "South Jersey Kite Flyers (SJKF)", "http://www.geocities.com/sjkf.geo/" %><br />
      <%= link_to "St. Augustine Sport Kite Club (SASKC)", "http://www.saskc.net/" %><br />
      <%= link_to "Sunset Flyers Kite Club", "http://sunsetflyers.com/" %><br />
      <%= link_to "Treasure Island Sport Kite Klub (TISKK)", "http://www.kites.org/tiskk/" %><br />
      <%= link_to "Wings Across Carolina Kiting and Okra Society (WACKOS)", "http://www.wackos.org/" %><br />
      <%= link_to "Wings Over Washington (WOW)", "http://www.wowkiteclub.com/" %><br />
    </p>
    <p>
      If you don't see your club listed here, please <%= mail_to("elcommissioner@gmail.com", "let us know", :subject => "Kite Club Links Page") %>.
    </p>
  </div>
</article>
