<%= title("Information for Organizers") %>

<article class="module width_3_quarter">
  <header><h3><a name="introduction"></a>Introduction</h3></header>
  <div class="module_content">
    <p>This document explains in detail what the Eastern League requires of competitions that it sanctions and what those competitions can expect from the League. The final section (<%= link_to("Notes for New Event Organizers", "#notes") %>) provides some specific information to assist new event organizers in getting an Eastern League competition up and running.</p>
    <p>This is <em><span color="red">not</span></em> intended to be a manual covering all aspects of event organization. The assumption is that event organizers are aware of the AKA’s rules and guidelines for sport kite competition, as laid out in the International Rule Book Committee’s rule books and the AKA Appendix to those rules (see <%= link_to("Competition rules", "#competitionrules") %> below for details). These guides are available from the <%= link_to("AKA's web site", "http://aka.kite.org") %>.</p>
  </div>
</article>

<article class="module width_quarter contents">
  <header><h3>Contents</h3></header>
  <div class="module_content">
    <ol>
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#requirements">Requirements for Eastern League Sanctioning</a></li>
      <li><a href="#additionalsuggestions">Additional Suggestions</a></li>
      <li><a href="#benefits">Benefits of Eastern League Sanctioning</a></li>
      <li><a href="#running">Running Different Classes Together</a></li>
      <li><a href="#notes">Notes for New Event Organizers</a></li>
    </ol>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="requirements"></a>Requirements for Eastern League Sanctioning &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <h3>First Steps</h3>
    <p>The first thing a new event needs to do to become an Eastern League event is to request sanctioning from the Eastern League's Board via the <%= mail_to("elcommissioner@gmail.com", "Commissioner", :subject => "Event Sanctioning Inquiry") %>. Sanctioning must be approved at least 2 months before the event is scheduled to take place. Details below.</p>

    <h3>Board Approval</h3>
    <p>The Eastern League Board approves the addition of any new competition to its calendar. Approval from the Board comes with the understanding that the event organizers will fulfill all of the requirements listed in this section. (See Representation on the Board below for an explanation of who the Board members are.) Board approval must be obtained <span class="red">at least 2 months before</span> the planned dates of the event, and the League's sanctioning fee ($100) must be received by that same deadline.</p>

    <h3>Location</h3>
    <p>Although most Eastern League competitions are located along the eastern seaboard of the U.S., the League may sanction sport kite competitions that take place anywhere in the Northeast or Southeast conferences (Regions 1–4) of the AKA (see the map under "Regional Resources" on the <%= link_to("AKA's web site", "http://aka.kite.org") %> for boundaries of the different regions). The map on the <%= link_to("Home", root_path) %> page of this site shows the geographic scope of this area.</p>

    <h3>Dates</h3>
    <p>New competitions are generally scheduled so as not to conflict with other League-sanctioned competitions (see the <%= link_to("Calendar", "#") %> page for the current schedule).</p>

    <h3>Cost</h3>
    <p>Each Eastern League competition pays a nonrefundable $100 sanctioning fee to the League. This fee is due at least 2 months before the scheduled dates of the event.</p>

    <h3>Competition Disciplines</h3>
    <p>Event organizers may choose which of the League-sanctioned disciplines to run at their competition. A complete list of the disciplines for which the League maintains standings is provided on the <%= link_to "Information for Competitors", competitors_path %> page. Note that some smaller disciplines may be run together as open or combined disciplines at a particular competition. For example, Open Individual Multi-line Precision would cover both Experienced and Masters multi-line precision disciplines. In this particular case, at the competition only one set of awards would be given out for multi-line precision, but in the Eastern League standings, the results would be separated into Experienced and Masters disciplines. For the purpose of maintaining the League standings, the experience level of each competitor in an open discipline must be reported along with the scores for that discipline (see Postcompetition report below). For an explanation of open and combined disciplines, see the section titled "Running Different Classes Together" on the <%= link_to "Information for Competitors", competitors_path %> page.</p>

    <h3>Representation on the Board</h3>
    <p>A representative of each competition sanctioned by the League is granted Board member status for a period extending from the date that the event's sanctioning fee is received by the League to one year beyond the event itself. Board members vote on all significant issues facing the League. Board discussions and votes are generally carried out via e-mail. The Board consists of the competition representatives (each competition gets one vote), the commissioner, and two flier representatives. The flier rep positions are elected by the general membership of the League each December.</p>

    <h3>Registration materials</h3>
    <p>Each competition must provide to the League its registration information, in a format that can be both posted online and printed out, at least 30 days prior to the competition (as determined by the AKA rules). The League, in turn, will make sure that this information reaches all of its members, no matter whether they have Internet access or not, as well as the broader online kite community (see <%= link_to("Benefits of Eastern League Sanctioning", "#benefits") %> below for details).</p>

    <h3>Competition Rules</h3>
    <p>Each competition must follow the current competition rules used by the AKA, which are available on the <%= link_to("AKA's web site", "http://aka.kite.org") %>:</p>
    <ul>
      <li>International Sport Kite Judges Book</li>
      <li>International Sport Kite Rules Book</li>
      <li>International Sport Kite Compulsories Book</li>
      <li>AKA Appendix to the International Sport Kite Rule Books</li>
    </ul>

    <h3>Postcompetition report</h3>
    <p>Within one week of the competition, the following information must be reported to the Eastern League Commissioner:</p>
    <ul>
      <li>The placing and score of each competitor in each discipline. (Note that DQ’ed competitors must be included in this report.)</li>
      <li>The composition of each pair and team competing at the event.</li>
      <li>The experience level of each competitor in all open disciplines.</li>
      <li>The judging and field directing assignments for all sport kite disciplines. (Note that the head judge should be indicated in each case.)</li>
    </ul>

    <h3>Cancellation</h3>
    <p>Early notification about serious problems that may lead to cancellation of a competition is expected. Competitors in the Eastern League depend on the schedule of competitions published by the League. They arrange work schedules, purchase plane tickets, and make hotel and car rental reservations—often months in advance of a competition—on the basis of the League’s calendar. Therefore, if a competition needs to be canceled, for whatever reason, it is crucial that the Eastern League Commissioner be notified at the earliest possible date so that potential attendees can be properly informed and monetary losses can be avoided.</p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="additionalsuggestions"></a>Additional Suggestions &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <p>In an effort to maintain a high level of competition quality, to improve the knowledge of both competitors and field staff, and to maintain consistency from one competition to the next, the League strongly suggests that, at each competition,</p>
    <ul>
      <li>Five judges are assigned to every competitive discipline.</li>
      <li>Educational workshop(s) are offered. Some examples of topics that might be covered include judging (in general, or with respect to a specific competition class, such as judging multi-line disciplines, judging pairs and teams, judging ballet, or judging precision), field directing, pair and team flying, and intro to competition for Novices.</li>
      <li>Shadow judging is strongly encouraged.</li>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="benefits"></a>Benefits of Eastern League Sanctioning &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <h3>Increased competitor attendance</h3>
    <p>Sport kite competitors up and down the East Coast are drawn to Eastern League competitions as they attempt to earn the coveted League jackets that are awarded to the top three finishers in each discipline at the end of the season. Sanctioning by the League therefore generally guarantees a higher level of interest in and attendance at any competition.</p>

    <h3>Registration forms</h3>
    <p>The League makes registration forms for all competitions that it sanctions available on the Calendar page of this web site. This benefit requires that event organizers provide their registration forms—in Word document or PDF format—in a timely way so that the 30-day-advance-notice requirement stipulated by the International Sport Kite Rules Book is met. At the time the form is posted on the web site, members who have e-mail are notified that it is available, and members who do not have e-mail are sent a paper copy of the form. It is highly recommended that the file be submitted <span class="red">at least 6 weeks in advance of the competition</span>. (See more about registration forms under <%= link_to "Notes for New Event Organizers ", "#notes" %> below.)</p>

    <h3>Tracking of field assignments</h3>
    <p>To assist chief judges in making field assignments at EL events, the League provides to each chief judge a record of recent judging and field directing assignments at Eastern League competitions.</p>

    <h3>Dissemination of information</h3>
    <p>The League posts information about each competition on its web site, publicizes the schedule of events in its newsletter, and sends out reminders via the Internet to the wider East Coast kite community in the weeks leading up to a competition.</p>

    <h3>Assistance with the organization of workshops</h3>
    <p>Upon request by the organizer of an EL-sanctioned competition, the League will assist in arranging for topical workshops to be held at the competitions.</p>

    <h3>Access to member information</h3>
    <p>At any time an event organizer requests it, the League will provide the current mailing list of members.</p>

    <h3>Individual membership for Board member</h3>
    <p>Each competition’s representative to the Eastern League Board is entitled to a free one-year individual membership in the League for him/herself and one additional family member.</p>
  </div>
</article>

<article class="module width_3_quarter">
  <header><h3><a name="notes"></a>Notes for New Event Organizers &nbsp;(<a href="#">Top</a>)</h3></header>
  <div class="module_content">
    <h3>Registration Forms</h3>

    <p>To meet the International Sport Kite Rules Book requirement of providing sufficient advance notice to competitors of compulsory figures and other relevant competition information (see, for example, the entry on field sizes [#8] below), competition registration forms must be made available to competitors at least 30 days before the competition. The registration form should include at least the following information:</p>
    <ol>
      <li>The name, dates, and location of the competition.</li>
      <li>Directions to the competition, host hotel, banquet facility, or any other pertinent venue (such as indoor flying location). Information about nearby airport(s) is also often useful.</li>
      <li>How to get additional information about the competition.</li>
      <li>The name(s) of the event organizers and how to contact them.</li>
      <li>
        The organizations that sanction the competition (AKA, Eastern League). <strong>Note</strong> that if you want to say anything more about the sanctioning organizations, here’s what the blurb about the Eastern League should say:<br />

          <blockquote>This event is sanctioned by the Eastern League Sport Kite Association. Competing here will qualify you for Eastern League points, provided you are a member of the League at the time you compete. You may join at the event, or contact the Eastern League Commissioner at elcommissioner@gmail.com or <%= @commissioner.phone_number %>. For more information, visit the League’s web site: www.easternleague.net.</blockquote>

      <p>For a comparable blurb about the AKA, contact your AKA regional director or AKA conference sport kite commissioner. The names of the current regional directors and sport kite commissioners are available on the <%= link_to("AKA's web site", "http://aka.kite.org") %> (under "Regional Resources"). As of <%= Date.today.strftime("%B %Y") %>, the regional directors and sport kite commissioners for the area covered by the Eastern League are as follows (although the names and phone numbers may change, the e-mail addresses will remain the same):<br /></p>
      <ul>
          <li>Region 1 Director: Maggie Engvall (<%= mail_to "region1@aka.kite.org" %>, 401•942•3606)</li>
          <li>Region 2 Director: Bradley Weiner (<%= mail_to "region2@aka.kite.org" %>, 856•229•3745)</li>
          <li>Region 3 Director: Will Smoot (<%= mail_to "region3@aka.kite.org" %>, 540•471•4949)</li>
          <li>Region 4 Director: James 'Jim' Podlasek (<%= mail_to "region4@aka.kite.org" %>, 803•548•2698)</li>
          <li>Northeast Sport Kite Commissioner: Jackie Maciel (<%= mail_to "ne_conf@aka.kite.org" %>, 508•528•0951)</li>
          <li>Southeast Sport Kite Commissioner: Laura Stonestreet (<%= mail_to "se_conf@aka.kite.org" %>, 804•271•4433)</li>
        </ul>
        <br />
      </li>

      <li>The three to six compulsory figures (identified by both number and name—e.g., "DI 02 - Circle") that the competitors need to practice for each precision discipline, and either diagrams of those figures or where to find those figures on the web. Current common practice is to choose six figures for each precision discipline. Then at the competition itself, the chief judge announces the three figures from each set of six that will be flown at that competition.</li>
      <li>The field size(s). Minimum sizes (measured in feet) should be 360×360 for team/pair competition, 295×295 for individual dual-line competition, and 246×246 for individual multi-line (quad) competition. Note that if the fields cannot be at least this large, the AKA requires that the field sizes be made known to competitors at least 30 days before the competition.</li>
      <li>A schedule that indicates planned times for all sport kite disciplines and other scheduled components of the event (Hot Tricks, fighter kite competitions, rok battles, kitemaking, etc.).</li>
      <li>Registration costs, along with payment instructions (how to make out a check, where to send it, etc.).</li>
      <li>
        A waiver that the competitor must sign to release the event from liability. Here's an example of standard text for the waiver:
          <br />
          <blockquote>In consideration for the right to compete in this event, I hold the &lt;<u><em>event name, names of any facilities where event functions will be held, and names of any organizations running the event go here</em></u>&gt;, the sponsors, and all other persons associated with the event blameless and release them from any and all liability in connection with my participation. I further agree that the event (&lt;<u><em>abbreviated event name goes here</em></u>&gt;) may use without payment, permission, or restriction any photographs, films, or tapes in which I may appear for any purpose whatsoever. Please note: By signing on behalf of a participant under 18 years old, the parent or guardian also expressly agrees to all of the above.
          <br />
          <br />
          I have read this release of liability and understand.
          <br />
          <br />
          Signature __________________ Date ___________
          </blockquote>
        </li>
      <li>A place for registrants to indicate their willingness to volunteer as judge, field director, pit boss, line judge, scorer, field setup personnel, field breakdown personnel, or any other positions that need to be filled.</li>
      <li><strong>OPTIONAL</strong>: A statement clarifying how flight orders are determined is useful. According to common practice, competitors whose registrations are received before the event begins are added to the flight orders randomly, but all late registrants (those who register at the event) are added to the top of the flight order. And in any particular discipline, the last person to register late is the first one to fly.</li>
    </ol>
    <h3>Awards</h3>

    <p>Competitions generally give an award for each of the top three places in every League-sanctioned discipline run at the event. The awards should identify the event and date, the specific discipline, and the placing. These awards do not need to be costly, but they are more meaningful if they show some thought. Originality is encouraged. Some examples of past memorable awards were the pirate ships at TISKC 2000, the first-place lighthouses at GISKC 2001, the pirate pennants at TISKC 2002, the ceramic bean pots at BASKC, the stained-glass kites mounted on driftwood at NYSKC, the embroidered flying straps at NJSKC 2005, and the pirate mugs at TISKC 2010-2011.</p>

    <p>When disciplines are run together as <span class="red">open</span>, only one set of awards is given by the event for the open discipline. (See Competition disciplines above for details.) For disciplines that are run together merely for the convenience of using the same judging panel for multiple disciplines—that is, disciplines that are designated as <span class="red">combined</span> &mdash; separate sets of awards are given to each class within the discipline. The difference between open and combined disciplines is explained in more detail on the <%= link_to "Information for Competitors", competitors_path %> page.</p>



    <h3>Compensation for Assistance</h3>

    <p>Eastern League competitions have traditionally offered some level of compensation (in the form of free hotel rooms, registrations, and/or banquet tickets—to name some examples) for participants who contribute significantly to the running of the competition. Such compensation is not a requirement, but it is common practice among organizers of League competitions. Typically the following personnel are compensated in some way: chief judge, scorekeeper, sound engineer, announcer, auctioneer, workshop leaders, and any other personnel who are expected to do a lot of judging or other field work or make other significant contributions of their time, skills, and/or equipment to the competition. <span class="red">Compensation is at the discretion of each individual event organizer.</span></p>
  </div>
</article>



<div class="clear" />
