<aside id="sidebar" class="column">
  <% if current_user && current_user.el_member? %>
    <%= form_tag search_users_path, :method => :get, :class => "quick_search" do %>
      <%= text_field_tag :q, "Member Search", :onfocus => "if(!this._haschanged){this.value=''};this._haschanged=true;" %>
  	<% end %>
  <% end %>
	<hr/>

  <% if !current_user %>
    <h3>Log In</h3>
    <ul>
      <li class="icn_login"><%= link_to "Log In!", login_path %></li>
    </ul>
  <% end %>

  <h3>Information</h3>
  <ul>
    <li class="icn_about"><%= link_to "About the Eastern League", about_path %></li>
    <li class="icn_competitors"><%= link_to "Competitors", competitors_path %></li>
    <li class="icn_organizers"><%= link_to "Organizers", organizers_path %></a></li>
    <li class="icn_spectators"><%= link_to "Spectators", spectators_path %></a></li>
    <!-- li class="icn_newsletter"><a href="#">Newsletter Archives</a></li -->
    <li class="icn_link"><%= link_to "Links", links_path %></li>
    <li class="icn_contact"><%= link_to "Contact Us", contact_path %></li>
  </ul>
  <h3>Competition</h3>
  <ul>
    <li class="icn_calendar"><%= link_to "Calendar", calendar_path %></li>
    <li class="icn_event_results"><a href="/events/1003/scores">Event Results</a></li>
    <!-- li class="icn_competitor_results"><a href="#">Competitor Results</a></li-->
    <li class="icn_standings"><%= link_to "Current Standings", standings_path %></li>
  </ul>

  <% if current_user %>
    <h3>Admin</h3>
    <ul>
      <li class="icn_view_profile"><%= link_to "View my Profile", user_path(current_user) %></li>
      <li class="icn_edit_profile"><%= link_to "Edit my Profile", edit_user_path(current_user) %></li>
      <li class="icn_renew_membership"><%= link_to "Renew my Membership", new_user_membership_path(current_user) %></li>
      <li class="icn_logoff"><%= link_to("Logout", user_session_path, :method => :delete) %></li>
      <% if current_user.admin? %>
        <li class="icn_newsletter"><%= link_to "Announcements", announcements_path %></li>
      <% end %>
    </ul>
  <% end %>

  <footer>
    <hr />
    <p><strong>&copy; <%= Date.today.year %> Eastern League Sport Kite Association</strong></p>
    <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
  </footer>
</aside>

