<aside id="sidebar" class="column">
  <% if !current_user %>
    <h3>Log In</h3>
    <ul>
      <li class="icn_login"><%= link_to "Log In!", login_path %></li>
    </ul>
  <% end %>

  <h3>Information</h3>
  <ul>
    <li class="icn_about"><%= link_to "About the Eastern League", about_path %></li>
    <li class="icn_competitors"><%= link_to "Competitors", competitors_path %></li>
    <li class="icn_organizers"><%= link_to "Organizers", organizers_path %></a></li>
    <li class="icn_spectators"><%= link_to "Spectators", spectators_path %></a></li>
    <li class="icn_newsletter"><a href="#">Newsletter Archives</a></li>
    <li class="icn_link"><%= link_to "Links", links_path %></li>
  </ul>
  <h3>Competition</h3>
  <ul>
    <li class="icn_calendar"><a href="#">Calendar</a></li>
    <li class="icn_event_results"><a href="#">Event Results</a></li>
    <li class="icn_competitor_results"><a href="#">Competitor Results</a></li>
    <li class="icn_standings"><a href="#">Current Standings</a></li>
  </ul>

  <% if current_user %>
    <h3>Admin</h3>
    <ul>
      <li class="icn_edit_profile"><%= link_to "Edit my Profile", edit_user_path(current_user) %></li>
      <li class="icn_renew_membership"><a href="#">Renew my Membership</a></li>
      <li class="icn_logoff"><%= link_to("Logout", user_session_path, :method => :delete) %></li>
    </ul>
  <% end %>

  <footer>
    <hr />
    <p><strong>&copy; 2011 Eastern League Sport Kite Association</strong></p>
    <p>Theme by <a href="http://www.medialoot.com">MediaLoot</a></p>
  </footer>
</aside>

